body {
    background-color: #e7e7e7;
    font-family: 'Roboto', sans-serif;
}
.title {
    font-family: 'KoHo', sans-serif;
    text-align: center;
    position: relative;
    left: 40%;
    right: 40%;
    width: 25rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid gray;
}
.list {
    position: relative;
    left: 40%;
    right: 40%;
    text-align: justify;
    list-style-type: none;
    cursor: pointer;
}
#input {
    display:inline-block;
    position: relative;
    left: 43%;
    right: 43%;
    text-align: center;
}
#button {
    background-color: white;
    border: 1px solid black;
    padding: 2px 5px;
    border-radius: 5px;
    cursor: pointer;
    display:inline-block;
    text-align:center;
    position: relative; 
    margin-inline-start: 5rem;
    left: 40%;
    right: 40%; 
}
#button:hover {
    background-color: black;
    color: white;
}
.task:hover {
    color: gray;
}
#input,
#button {
    margin-top: 2rem;
}
.title,
.list {
    margin-top: 2rem;
}

@media screen and (max-width: 1000px) {
    body {
        float:left;
    }
}